<div class="container">
  <h2 class="title">Редактирование расчета бюджета</h2>

  <% if @calculation.errors.any? %>
    <div class="mt">
      <% @calculation.errors.full_messages.each do |message| %>
        <p class="mb-sm text-red"><%= message %></p>
      <% end %>
    </div>
  <% end %>

  <div class="mt">
    <%= form_with model: @calculation, url: calculation_path(@calculation), method: :patch, data: {turbo: false} do |form|%>
      <p><%= form.label :title, 'Название'%></p>
      <p><%= form.text_field :title, class: 'form-text-field'%></p>

      <h2>Бюджет:</h2>
      <table id="budgets_table">
        <thead>
          <tr>
            <th>Наименование</th>
            <th>Планируемая сумма</th>
            <th>Фактическая сумма</th>
            <th>Предоплата</th>
            <th>Остаток</th>
            <th>Действия</th>
          </tr>
        </thead>
        <tbody>
          <%= form.fields_for :budgets do |budget_form| %>
            <tr class="budget_fields">
              <td><%= budget_form.text_field :title %></td>
              <td><%= budget_form.number_field :planned_sum %></td>
              <td><%= budget_form.number_field :actual_sum %></td>
              <td><%= budget_form.number_field :prepay_sum %></td>
              <td><%= budget_form.number_field :remain_sum %></td>
               <td>
                <%= link_to "Удалить", "#", class: "remove_budget_row", data: { id: budget_form.object.id } %>
                <%= budget_form.hidden_field :id %> <!-- Скрытое поле для передачи id -->
                <%= budget_form.hidden_field :_destroy, value: "false" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= link_to "Добавить строку", "#", id: "add_budget_row" %><br><br>

      <h2>Контроль подрядчиков:</h2>
      <table id="controls_table">
        <thead>
          <tr>
            <th>Вид работы</th>
            <th>Стоимость работы</th>
            <th>Предоплата</th>
            <th>Остаток</th>
            <th>Дата выполнения</th>
            <th>Место</th>
            <th>Действия</th>
          </tr>
        </thead>
        <tbody>
          <%= form.fields_for :controls do |control_form| %>
            <tr class="control_fields">
              <td><%= control_form.text_field :title %></td>
              <td><%= control_form.number_field :actual_sum %></td>
              <td><%= control_form.number_field :prepay_sum %></td>
              <td><%= control_form.number_field :remain_sum %></td>
              <td><%= control_form.text_field  :date %></td>
              <td><%= control_form.text_field  :place %></td>
              <td>
                <%= link_to "Удалить", "#", class: "remove_control_row", data: { id: control_form.object.id } %>
                <%= control_form.hidden_field :id %> <!-- Скрытое поле для передачи id -->
                <%= control_form.hidden_field :_destroy, value: "false" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= link_to "Добавить строку", "#", id: "add_control_row" %><br><br>

      <p class="mt-lg"><%= form.submit 'Редактировать!', class: 'button-button-main'%> 
    <% end %>
  </div>

  <p><%= link_to "Все расчеты", calculations_path  %></p>
</div>
