<div class="container">
  <h2 class="title">Новый расчет бюджета</h2>

  <% if @calculation.errors.any? %>
    <div class="mt">
      <% @calculation.errors.full_messages.each do |message| %>
        <p class="mb-sm text-red"><%= message %></p>
      <% end %>
    </div>
  <% end %>

  <div class="mt">
    <%= form_with model: @calculation, data: {turbo: false} do |form|%>
      <p><%= form.label :title, 'Описание расчета'%></p>
      <p><%= form.text_field :title, class: 'form-text-field'%></p>

      <h2>Бюджет:</h2>
      <table id="budgets_table">
        <thead>
          <tr>
            <th>Наименование</th>
            <th>Планируемая сумма</th>
            <th>Фактическая сумма</th>
            <th>Предоплата</th>
            <th>Остаток</th>
            <th>Действия</th>
          </tr>
        </thead>
        <tbody>
          <%= form.fields_for :budgets do |budget_form| %>
            <tr class="budget_fields">
              <td><%= budget_form.text_field :title %></td>
              <td><%= budget_form.number_field :planned_sum %></td>
              <td><%= budget_form.number_field :actual_sum %></td>
              <td><%= budget_form.number_field :prepay_sum %></td>
              <td><%= budget_form.number_field :remain_sum %></td>
              <td><%= link_to "Удалить", "#", class: "remove_budget_row" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= link_to "Добавить строку", "#", id: "add_budget_row" %><br><br>

      <p class="mt-lg"><%= form.submit 'Создать!', class: 'button-button-main'%> 
    <% end %>
  </div>

  
</div>
