<div class="container">
  <h2 class="title">Новый расчет бюджета</h2>

  <% if @calculation.errors.any? %>
    <div class="mt">
      <% @calculation.errors.full_messages.each do |message| %>
        <p class="mb-sm text-red"><%= message %></p>
      <% end %>
    </div>
  <% end %>

  <div class="mt">
    <%= form_with model: @calculation, data: {turbo: false} do |form|%>
      <p><%= form.label :title, 'Описание расчета'%></p>
      <p><%= form.text_field :title, class: 'form-text-field'%></p>

      <h2>Бюджет:</h2>
      <table id="budgets_table">
        <thead>
          <tr>
            <th>Наименование</th>
            <th>Планируемая сумма</th>
            <th>Фактическая сумма</th>
            <th>Предоплата</th>
            <th>Остаток</th>
            <th>Действия</th>
          </tr>
        </thead>
        <tbody>
          <%= form.fields_for :budgets do |budget_form| %>
            <tr class="budget_fields">
              <td><%= budget_form.text_field :title %></td>
              <td><%= budget_form.number_field :planned_sum %></td>
              <td><%= budget_form.number_field :actual_sum %></td>
              <td><%= budget_form.number_field :prepay_sum %></td>
              <td><%= budget_form.number_field :remain_sum %></td>
              <td><%= link_to "Удалить", "#", class: "remove_budget_row" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= link_to "Добавить строку", "#", id: "add_budget_row" %><br><br>

      <h2>Контроль подрядчиков:</h2>
      <table id="controls_table">
        <thead>
          <tr>
            <th>Вид работы</th>
            <th>Стоимость работы</th>
            <th>Предоплата</th>
            <th>Остаток</th>
            <th>Дата выполнения</th>
            <th>Место</th>
            <th>Действия</th>
          </tr>
        </thead>
        <tbody>
          <%= form.fields_for :controls do |control_form| %>
            <tr class="control_fields">
              <td><%= control_form.text_field :title %></td>
              <td><%= control_form.number_field :actual_sum %></td>
              <td><%= control_form.number_field :prepay_sum %></td>
              <td><%= control_form.number_field :remain_sum %></td>
              <td><%= control_form.text_field  :date %></td>
              <td><%= control_form.text_field  :place %></td>
              <td><%= link_to "Удалить", "#", class: "remove_control_row" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= link_to "Добавить строку", "#", id: "add_control_row" %><br><br>

      <h2>Обязательства и договоренности:</h2>
      <table id="contractors_table">
        <thead>
          <tr>
            <th>Категория</th>
            <th>Ответственный</th>
            <th>Описание</th>
            <th>Статус выполнения</th>
            <th>Имя и Фамилия</th>
            <th>Телефон</th>
            <th>Эл.почта</th>
          </tr>
        </thead>
        <tbody>
          <%= form.fields_for :contractors do |contractor_form| %>
            <tr class="contractor_fields">
              <td><%= contractor_form.text_field :category %></td>
              <td><%= contractor_form.text_field :responsible %></td>
              <td><%= contractor_form.text_field :description %></td>
              <td><%= contractor_form.check_box :status %></td>
              <td><%= contractor_form.text_field  :name %></td>
              <td><%= contractor_form.text_field  :phone %></td>
              <td><%= contractor_form.text_field  :email %></td>
              <td><%= link_to "Удалить", "#", class: "remove_contractor_row" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= link_to "Добавить строку", "#", id: "add_contractor_row" %><br><br>

      <h2>Учет гостей:</h2>
      <table id="guests_table">
        <thead>
          <tr>
            <th>Имя гостя</th>
            <th>Телефон</th>
            <th>Отправлено приглашение?</th>
            <th>Придет?</th>
            <th>ЗАГС</th>
            <th>Мальчишник/девичник</th>
            <th>Чей гость?</th>
          </tr>
        </thead>
        <tbody>
          <%= form.fields_for :guests do |guest_form| %>
            <tr class="guest_fields">
              <td><%= guest_form.text_field :name %></td>
              <td><%= guest_form.text_field :phone %></td>
              <td><%= guest_form.check_box :invited , {}, true, false %></td>
              <td><%= guest_form.check_box :arrive , {}, true, false  %></td>
              <td><%= guest_form.check_box  :zags , {}, true, false  %></td>
              <td><%= guest_form.check_box  :party , {}, true, false  %></td>
              <td><%= guest_form.text_field  :guest %></td>
              <td><%= link_to "Удалить", "#", class: "remove_guest_row" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= link_to "Добавить строку", "#", id: "add_guest_row" %><br><br>

      <h2>Расчет алкоголя:</h2>
      <table id="alcos_table">
        <thead>
          <tr>
            <th>Напиток</th>
            <th>Литров на чел.</th>
          </tr>
        </thead>
        <tbody>
          <%= form.fields_for :alcos do |alco_form| %>
            <tr class="alco_fields">
              <td><%= alco_form.text_field :title %></td>
              <td><%= alco_form.number_field :litres_for_one %></td>
              <td><%= link_to "Удалить", "#", class: "remove_alco_row" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <%= link_to "Добавить строку", "#", id: "add_alco_row" %><br><br>

      <p class="mt-lg"><%= form.submit 'Создать!', class: 'button-button-main'%> 
    <% end %>
  </div>

  
</div>
